

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.link {
    display: inline-block;
    padding: 40px;
}

html {
    background-color: #454545;
}

.magpieImage {
    width: 400px;
    position: fixed;
    top: 150px;
    left: 650px;
}

h1 {
    font-family: 'Arimo', sans-serif;
    color: bisque;
    font-size: 5rem;
    position: absolute;
    top: 200px;
    left: 100px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    color: azure;
    top: 350px;
    left: 100px;
}

h3 {
    text-align: center; 
    font-size: 2rem; 
    color: burlywood; 
    font-family:'Franklin Gothic Medium', sans-serif;
    font-weight: 300;
}

.rect {
    width: 700px;
    height: 250px;
    position: fixed;
    left: 0px;
    top: 200px;
}
